*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

button {
    background-color: inherit;
}

.fb-logo-link {
    width: 3%;
}

main {
    /* padding-top: 10vh; */
    height: 90vh;
    /* background-color: red; */
}

nav {
    background-color: rgb(36, 37, 38);
    background-color: white;

}

.left,
.right{
    height: 90vh;
}

.pix-div {
    height: 2.5rem;
}

.pix {
    width: 2.5rem;
    height: 2.5rem;
}

.my-post-div{
    background-color: rgb(36,37,38);
}

.like:hover,
.comment:hover,
.share:hover{
    background-color: rgb(58,59,60);
}

.pics-div{
    height: 2rem;
}

.pics{
    width: 2rem;
    height: 2rem;
}

.comment-input{
    background-color: rgb(58,59,60);
}

.comment-btn{
    right: 0.6rem;
    top: 0.1rem;
    width: 1.8rem;
    height: 1.8rem;
}

.comment-btn:hover{
    background-color: rgb(89, 89, 90);
}

.send-comment{
    font-size: 15px;
}

.profile-btn:hover{
    background-color: rgb(89, 89, 90);
}

#profile-name{
    font-weight: 600;
    font-size: 18px;
}

input{
    outline: none;
}

button {
    background-color: inherit;
}

.content-div{
    background-color: green;
    height: 90vh;
    margin-top: 10vh;
}

.cover-photo-div{
    height: 90vh;
}

.cover-photo{
    height: 45vh;
}

.upload-cover-photo{
    bottom: 5vh;
    right: 2vh;
}

.profile-picture-div{
    width: 95%;
    height: 40vh;
}

.picture-circle{
    /* height: 10rem; */
}

.picture{
    width: 12rem;
    height: 12rem;
    /* background-color: blue; */
}

.cam-div{
    bottom: 0;
    /* left: 0; */
}

.picture-upload-div{
}

.pp{
    /* width: 150px; */
}

/* .cam{
    font-size: 1.5rem;
    background-color: rgb(58,59,60);
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
} */